{%  extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    <div class="container-fluid header mb-3 p-0">
        <img src="{{ asset('/assets/image/multipleTrick.jpg') }}" alt="image header" class="img-fluid"/>
    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid  mb-5 mt-5" id="section">
        <div class="row justify-content-center mb-5">
            <h1>Connexion Espace Membre</h1>
            <a href="{{ path('user.new') }}" class="col-12 col-lg-6 text-center" style="font-style: italic; color: #17a2b8"> ( S'enregistrer )</a>
        </div>
        <div class="row justify-content-center mb-2">
            {% if error %}
                <div class="col-12 col-lg-6 alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security')}}</div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <form action="{{ path('login')}}" method="post" class="col-12 col-lg-6 p-0">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="_username" class="form-control" value="{{ lastUsername }}">
                </div>
                <div class="form-group">
                    <label for="password"> Mot De Passe</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>
                <div class="col-12 d-flex mb-5 justify-content-center">
                    <button type="submit" class="btn btn-sm btn-outline-info col-12 col-lg-6">Valider</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}


