{{ form_start(form) }}
    {{ form_widget(form._token) }}
<div class="col-12 col-lg-10 offset-lg-1">
    <div class="row">
        <div class="col-12 form-group" >{{ form_row(form.name) }}</div>
        <div class="col-12 form-group">{{ form_row(form.description, {'attr':{'rows': 15}})}}</div>
        <div class="col-12 form-group">{{ form_row(form.groups) }}</div>
    </div>
</div>
<h2>Video</h2>
<hr/>

<div class="col-12 col-lg-10 offset-lg-1">

    <div class="row mb-3" id= "videos" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/_formVideo.html.twig", { form: form.videos.vars.prototype })|e("html_attr") }}">
            {% for video in form.videos %}
                {{ include('trick/_formVideo.html.twig', {form: video})}}
            {% endfor %}
    </div>
    <a href="#videos" class="btn btn-sm btn-outline-secondary btn-add mb-2" data-rel="#videos">Ajouter une video</a>
</div>


<hr/>

<div class="col-12 d-flex mb-5 justify-content-center">
    <button type="submit" class="btn btn-sm btn-outline-secondary col-6">{{ button }}</button>
</div>

{{ form_end(form, { "render_rest": false }) }}