{{ form_start(form) }}
    {{ form_widget(form._token) }}
<div class="col-12 col-lg-10 offset-lg-1">
    <div class="row">
        <div class="col-12 form-group" >{{ form_row(form.name) }}</div>
        <div class="col-12 form-group">{{ form_row(form.description, {'attr':{'rows': 15}})}}</div>
        <div class="col-12 form-group">{{ form_row(form.groups) }}</div>
    </div>
</div>
<h2>Media</h2>
<hr/>
<a href="#medias" class="btn btn-sm btn-outline-secondary btn-add" data-rel="#medias">Ajouter un media</a>
{{ form_row(form.uploadedFiles) }}
<div class="col-12 col-lg-10 offset-lg-1">
    <div class="row mb-3" id= "medias" data-index="{{ form.medias|length > 0 ? form.medias|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/_formMedia.html.twig", { form: form.medias.vars.prototype })|e("html_attr") }}">
        {% for media in form.medias %}
            {{ include('trick/_formMedia.html.twig', {form: media})}}
        {% endfor %}
    </div>
</div>


<hr/>

<div class="col-12 d-flex mb-5 justify-content-center">
    <button type="submit" class="btn btn-sm btn-outline-secondary col-6">{{ button }}</button>
</div>

{{ form_end(form, { "render_rest": false }) }}