<div class="col-12 col-lg-2 p-2" id="media-{{form.vars.name}}">
    <div class="row p-0 m-2 shadow d-flex align-items-center " style="overflow:hidden;">
        <div class="col-12 p-0 m-0"><img src="{{form['path'].vars.value}}" alt="Photo {{form.vars.name}}" class="img-fluid"></div>
        <div class="col-12">{{ form_row(form.path) }}</div>
        {{ form_row(form.type) }}
    </div>
    <button type="button" class="btn btn-sm btn-outline-danger btn-remove m-2" data-rel="#media-{{form.vars.name}}">Supprimer</button>
</div>


