<div class="row .d-xs.none .d-sm-none .d-md-block mb-5 mt-2 justify-content-center" >
    {% for media in medias %}
        {% if media.type == 'picture' %}
            <div class="col-12 col-lg-2">
                <a href="#" data-toggle="modal" data-target="#displayPicture{{ media.id }}">

                    <img src="{{ media.path}}" alt="Media de la figure {{ trick.name }}" class="img-fluid mb-2 shadow" />
                </a>
            </div>
        {% endif %}
        <div class="modal fade" id="displayPicture{{ media.id }}" tabindex="-1" role="dialog" aria-labelledby="displayPictureLabel{{ media.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 90vw;">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img src="{{ media.path}}" alt="Media de la figure {{ trick.name }}" class="img-fluid mb-2" style="border: 1px solid grey; box-shadow: 2px 2px 6px grey"/>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>