<div class="row .d-xs.none .d-sm-none .d-md-block mb-5 mt-2 justify-content-center" >
    {% for picture in trick.pictures %}

        <div class="col-12 col-lg-2 p-0 m-2 d-flex align-items-center" style="overflow:hidden;">
            <a href="#" data-toggle="modal" data-target="#displayPicture{{ picture.id }}">
                <div class="vignettePhoto" ">
                    <img src="{{ picture.path}}" alt="Media de la figure {{ trick.name }}" class="img-fluid shadow" />
                </div>

            </a>
        </div>

        <div class="modal fade" id="displayPicture{{ picture.id }}" tabindex="-1" role="dialog" aria-labelledby="displayPictureLabel{{ picture.id }}" aria-hidden="true">
            <div class="modal-dialog " role="document" style="min-width: 95vw;">
                <div class="modal-content">
                    <div class="modal-body p-1">
                        <div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="col-12 d-flex justify-content-center pl-0 pr-0">
                            <img src="{{ picture.path}}" alt="Media de la figure {{ trick.name }}" class="img-fluid mb-2" style="border: 1px solid grey; box-shadow: 2px 2px 6px grey"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>