{%  extends 'base.html.twig' %}

{% block title %}
    Modification de la figure {{ trick.name }}
{% endblock %}

{% block header %}
    <div class="container-fluid header p-0">
        {% set header = 'false' %}
        {% for picture in trick.pictures %}
            {% if header == 'false' %} <img src="{{ picture.path }}" alt="Media de la figure{{ trick.name }}" class="img-fluid"/> {% set header = 'true' %}{% endif %}
        {% endfor %}
        <div id="titleArea" class="col-6 offset-3 ">
            <h1 id="title" class="col-12 text-center p-0 mb-0 font-weight-bold">{{ trick.name }}</h1>
            <div class="col-12 d-flex justify-content-center"><a href="#section" class="text-center"><i class="icon fa fa-arrow-down m-1" style="font-size: 40px;color: white;"></i></a></div>
        </div>
    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid bg-light" id="section">
        <div class="row justify-content-center">
           <div class="col-12  mb-5">
               <h1 >Modification de la figure {{ trick.name }}</h1>
               <hr class="mb-2"/>
           </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ include ('trick/_formTrick.html.twig' , {form: form, button: 'Enregistrer les modifications'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $("body").on("click", ".btn-add-video", function() {
            var $collectionHolder = $($(this).data("rel"));
            var index = $collectionHolder.data("index");
            var prototype = $collectionHolder.data("prototype");
            $collectionHolder.append(prototype.replace(/__name__/g, index));
            $collectionHolder.data("index", index+1);
        });

        $("body").on("click", ".btn-remove-video", function() {
            $($(this).data("rel")).remove();
        });

        $("body").on("click", ".btn-add-picture", function() {
            var $collectionHolder = $($(this).data("rel"));
            var index = $collectionHolder.data("index");
            var prototype = $collectionHolder.data("prototype");
            $collectionHolder.append(prototype.replace(/__name__/g, index));
            $collectionHolder.data("index", index+1);
        });

        $("body").on("click", ".btn-remove-picture", function() {
            $($(this).data("rel")).remove();
        });


    </script>

{% endblock %}


