{%  extends 'base.html.twig' %}

{% block title %}
    Liste des figures
{% endblock %}

{% block body%}
        <div class="container mb-5 mt-4 " id="section">
            <div class="bg-light ">
                <div class="row">
                    <div class="col-12 col-md-8"><h1 class="p-2">Les figures</h1></div>
                    {% if is_granted('ROLE_USER') %}
                        <div class=" col-12 col-md-4 d-flex align-items-center justify-content-end "><a href="{{ path('trick.new')}}" type="button" class="btn btn-sm btn-outline-info mr-3">Ajouter une figure</a></div>
                    {% endif %}
                </div>

                <hr>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="row p-2">
                    {% for  trick in tricks %}
                        <div class="col-12  col-lg-3">
                            <div class="card mb-4 shadow-sm">
                                <div class="vignettePhoto">
                                    {% set header = 'false' %}
                                    {% for picture in trick.pictures %}
                                        {% if header == 'false' %}
                                            <div style="overflow: hidden; max-height: 150px;">
                                                <img src="{{ picture.path }}" alt="Media de la figure{{ trick.name }}" class="img-fluid"/> {% set header = 'true' %}
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                    {% if header == 'false' %}
                                        <img src="assets/image/base.png" alt="Media de la figure{{ trick.name }}" class="img-fluid"/>
                                    {% endif %}
                                </div>

                                <div class="card-body d-flex justify-content-between">
                                    <a href="{{ path('trick.show', {id: trick.id, page: 1})}}" style="font-family: 'Rock Salt', Arial, sans-serif;font-weight: bold;color: #17a2b8;">{{ trick.name }}</a>
                                    <div>
                                        <a href="#"><i class="icon fa fa-pencil"></i></a>
                                        <form method="post"  style="display:inline-block" onsubmit="return confirm('Etes vous sure de vouloir supprimer?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                            <button type="submit" class="icon fa fa-trash-o " style="background: none;border:none; cursor: pointer"></button>
                                        </form>
                                    </div>
                                </div>
                                {% if is_granted('ROLE_USER') %}
                                <div class="card-footer d-flex justify-content-center">
                                        <a href="{{ path('trick.update',{id: trick.id}) }} "><i class="icon fa fa-pencil" style="color:grey;"></i></a>
                                        <form method="post"  action="{{ path('trick.delete',{id: trick.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes vous sure de vouloir supprimer?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                            <button type="submit" class="icon fa fa-trash-o " style="background: none;border:none; cursor: pointer; color:grey"></button>
                                        </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}