{%  extends 'base.html.twig' %}

{% block title %}
   Figure {{ trick.name }}
{% endblock %}

{% block header %}
    <div class="container-fluid header p-0">
        {% for media in medias %}
            {% if media.header == 1 %}<img src="{{ media.path }}" alt="Media de la figure{{ trick.name }}" class="img-fluid"/>{% endif %}
        {% endfor %}
        <h1 id="title" class="col-12 text-center">{{ trick.name }}</h1>
    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid bg-light" id="section">
        <div class="row .d-xs.none .d-sm-none .d-md-block mb-5 mt-2" >
            {% for media in medias %}
                <div class="col-2">
                    <img src="{{ media.path}}" alt="Media de la figure {{ trick.name }}" class="img-fluid mb-2" style="border: 1px solid grey; box-shadow: 2px 2px 6px grey"/>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <p>{{ trick.description |nl2br}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">


            </div>
        </div>
        <hr>
    </div>
{% endblock %}