{%  extends 'base.html.twig' %}

{% block title %}
   Figure {{ trick.name }}
{% endblock %}

{% block header %}
    <div class="container-fluid header p-0">
        {% for media in trick.medias %}
            {% if media.header == 1 %}<img src="{{ media.path }}" alt="Media de la figure{{ trick.name }}" class="img-fluid"/>{% endif %}
        {% endfor %}
        <div id="titleArea" class="col-6 offset-3 ">
            <h1 id="title" class="col-12 text-center p-0 mb-0 font-weight-bold">{{ trick.name | upper}}</h1>
            <div class="col-12 d-flex justify-content-center"><a href="#section" class="text-center"><i class="icon fa fa-arrow-down m-1" style="font-size: 40px;color: white;"></i></a></div>
        </div>

    </div>
{% endblock %}

{% block body%}
    <div class="container-fluid bg-light" id="section">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center mb-3" style="font-size: 1.2em;background-color: rgba(70,80,90,0.2)">
                <div>
                    <a href="#"><i class="icon fa fa-pencil " ></i></a>
                    <form method="post"  style="display:inline-block" onsubmit="return confirm('Etes vous sure de vouloir supprimer?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                        <button type="submit" class="icon fa fa-trash-o " style="background: none;border:none; cursor: pointer"></button>
                    </form>
                </div>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="col-12 alert alert-success text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <span id="view"></span>
        <div class="col-12 d-flex justify-content-center d-block d-sm-none mb-2" style="bottom: 15vw;">
            <a href="#gallery" class="btn btn-outline-info" onclick="showGallery()"> Voir la Galery</a>
        </div>
        <div class="container" id="gallery">
            {% include 'trick/_picturesGallery.html.twig' %}

            {% include 'trick/_videoGallery.html.twig' %}

        </div>

        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <p class="text-justify">{{ trick.description |nl2br}}</p>
            </div>
        </div>

        <div class="container">
            <div class="col-12 col-lg-8 offset-lg-3 ">
                <div class="row ">
                    <div class="col-12 col-lg-3 text-center m-2 btn btn-outline-info">Group : {{ trick.groups.name }}</div>
                    <div class="col-12 col-lg-3 text-center m-2 btn btn-outline-info">Crée le : {{ trick.creationDate.date |date("d/m/y") }}</div>
                    <div class="col-12 col-lg-3 text-center m-2 btn btn-outline-info">Modifié le : {{ trick.updateDate.date |date("d/m/y") }}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
               {% include 'trick/_formChat.html.twig' %}

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mb-2" id="chat">
                {% for chat in chats %}
                    <div class="col-12 mb-1" style="background-color: #ecf1f2;border-radius: 0 30px 0 30px;">
                        <p class="col-12" style="color:#17a2b8;"> {{ chat.user.surname |capitalize}}  {{ chat.user.firstname |capitalize}} (le {{ chat.date.date | date("d/m/y")}})</p>
                        <p class="col-10 offset-1 text-justify">{{ chat.message }}</p>
                    </div>
                {% endfor %}
                <div class="col-12 col-lg-8 offset-lg-2 mb-5 text-center" style="color:#17a2b8">
                    Pages :
                    {% for i in 1..pages %}
                        <a href="{{ path('trick.show', {id: trick.id, page: i})}}#chat" style="color:#17a2b8" class="col-1 p-1"> {{ i }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function () {
                document.getElementById('player').src = initPath;
            if (video === 1){
                document.getElementById('videoGallery').style.display = "block";
            }
        }

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            document.getElementById('galery').style.display = "none";
        }


        function setPath(path){
            document.getElementById('player').src = path;
        }

        function showGallery(){
            document.getElementById('gallery').style.display = "block";
        }

    </script>
{% endblock %}

