<div class="col-12 col-lg-8 mb-5  bg-white shadow">
    {{ form_start(form) }}
        {{ form_widget(form._token) }}

            <div class="row mt-2">
                <div class="col-12 form-group">{{ form_row(form.loginName)}}</div>
                <div class="col-12 form-group">{{ form_row(form.email)}}</div>
                <div class="col-12 form-group">{{ form_row(form.plainPassword) }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-lg-2 "><img id="avatar" src="/assets/image/avatar/base.jpg" class="shadow" style="max-width: 100px; max-height: 100px;"> </div>
                <div class="col-12 col-lg-10 offset-lg-1form-group" >{{ form_row(form.avatar) }}</div>
            </div>

            <div class="col-12 d-flex mb-4 justify-content-center">
                <button type="submit" class="btn btn-sm btn-outline-info col-12 col-lg-2">Valider</button>
            </div>

    {{ form_end(form, { "render_rest": false }) }}
</div>